* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 250ms ease-in-out;
}

:root {
    --primary-color: rgb(69, 69, 69);
    --secondary-color: rgba(255, 60, 222, 0.815);
    --trim-color: cyan;
}

p {
    font-size: 20px;
    color: var(--secondary-color);
    text-decoration: none;
}

p:hover {
    color: var(--trim-color);
}
a {
    text-decoration: dashed;
    color: var(--secondary-color);
}

body {
    background-color: var(--primary-color);
}

header,
main,
footer {
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    margin: 3px;
    justify-content: space-around;
    color: var(--secondary-color);
}

header,
main,
footer,
nav a,
h2,
section,
#MyWork,
article {
    color: var(--secondary-color);
}

header:hover,
nav a:hover,
h2:hover  {
    color: var(--trim-color)
}

main,
footer {
    flex-direction: column;
}

.alpha,
.bravo,
.charlie,
.delta {
    background-image: url("https://picsum.photos/400");
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    margin: 2px;
}

header {
    flex-direction: row;
}

h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

nav {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    font-size: 36px;
    margin: 5px 20px 5px 20px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

nav a:hover {
    background-color: rgba(112, 112, 112, 0.801);
    border-radius: 5px;
}

#AboutMe {
    display: block;
    text-align: center;
    width: 60%;
}

section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

section:hover {
    background-color: rgba(112, 112, 112, 0.801);
    border-radius: 40px;
    color: var(--trim-color);
}

#MyWork {
    text-align: center;
}

#MyWork p {
    margin-bottom: 15px;
}

#MyWork img:hover {
    opacity: 0.8;
    transform: scale(1.1);
    border-radius: 30px;
}

.alpha {
    background-image: url(./assets/images/largeSEO.jpg);
}

.bravo {
    background-image: url(./assets/images/gameboy.jpg);
}

.charlie {
    background-image: url(./assets/images/wednesday.jpg);
}

.delta {
    background-image: url(./assets/images/learning.jpg);
}

article {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

article p {
    background-color:rgb(69, 69, 69);
    margin-top: 20px;
}

article:hover {
    opacity: 0.8;
    border-radius: 30px;
    transform: rotate(3deg);
}

/* tablet */
@media screen and (max-width: 1008px) {
    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 50%;
        height: 100%;
        align-items: center;
    }
    header {
        width: 100%;
    }
    article {
        width: 35%;
        text-align: center;
    }
    section nav {
        display: flex;
    }
    #AboutMe {
        width: 100%;
    }
}

/* mobile */
@media screen and (max-width: 640px) {
    section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        height: 100%;
        align-items: center;
    }
    header {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    article {
        text-align: center;
    }
    nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}