* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 250ms ease-in;
}

header,
main,
footer {
    display: flex;
    flex-wrap: wrap;    align-items: center;
    border: 3px solid lightgreen;
    margin: 3px;
    justify-content: space-around;
}

header {
    flex-direction: row;
}

main,
footer {
    flex-direction: column;
}

nav a {
    margin: 5px;
    border: 1px solid cyan;
    text-decoration: none;
}

#AboutMe {
    display: block;
    text-align: center;
    
}

section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    border: 2px solid orangered;
    align-items: center;
}

#MyWork {
    text-align: center;
}

#MyWork img:hover {
    opacity: 0.8;
}

.alpha,
.bravo,
.charlie,
.delta {
    background-image: url("https://picsum.photos/400");
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    margin: 2px;
}

.alpha {
    background-image: url(./assets/images/largeSEO.jpg);
}

.bravo {
    background-image: url(./assets/images/gameboy.jpg);
}

.charlie {
    background-image: url(./assets/images/wednesday.jpg);
}

.delta {
    background-image: url(./assets/images/learning.jpg);
}

article:hover {
    opacity: 0.8;
}

article p {
    color: blue;
    font-weight: bold;
    font-size: 24px;
}

/* tablet */
@media screen and (max-width: 1008px) {
    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 50%;
        height: 100%;
        align-items: center;
    }
    header {
        width: 100%;
    }
    article {
        width: 35%;
        text-align: center;
    }
    section nav {
        display: flex;
    }
    #AboutMe {
        width: 100%;
    }
}

/* mobile */
@media screen and (max-width: 640px) {
    section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        height: 100%;
        align-items: center;
    }
    header {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    article {
        text-align: center;
    }
}