* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
    background-color: slategray;
    align-items:center;
    justify-content:space-between;
    border: 2px solid lightgreen;
}

header img {
    margin: 10px 0 10px 0;
    width: 150px;
}

nav a {
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    padding: 4px;
    color: orange;
}

.Contact nav a {
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    padding: 4px;
    color: hotpink;
    background-color: rgba(0, 0, 0, 0.486);
    font-size:18px;
}

body {
    background-color: slategray;
}

h2 {
    display: flex;
    flex-wrap: wrap;
    width: 200;
    justify-content: space-around;
    color: maroon;
}

section {
    display: flexbox;
    flex-wrap: wrap;
    border: 4px pink solid;
    margin: 15px 0 15px 0;
    width: 100%;
}

div {
    margin: 30;
}

.featured {
    display: flex;
    padding: 10px;
    border: 5px blue solid;
    width: 90%;
    min-height: 600px;
    background-image: url(https://via.placeholder.com/1080);
    background-position:center;
    background-repeat: no-repeat;
    align-items: center;
    }

.featured p {
    border: lightgreen 2px solid;
    border-radius: 4px;
    padding: 10px 10px 10px 0;
    background-color: rgba(37, 255, 37, 0.596);
}

.otherprojects {
    display: flex;
    flex-direction: row;
    border: 5px blue solid;
    width: 50%;
    background-image: url(https://via.placeholder.com/1080);
}

.otherprojects p {
    border: lightgreen 2px solid;
    border-radius: 4px;
    padding: 10px 10px 10px 0;
    background-color: rgba(37, 255, 37, 0.596);
}

.Contact {
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 60px;
    align-items: center;
    border: 4px orange solid;
}

footer {
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid lightgreen;
}

@media screen and (max-width: 640px) {
    section {
        display: inline-flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    article {
        display: block;
        min-width: 50%;
    }

    .Contact {
        display: flex;
        flex-wrap: wrap;
    }

    header {
        width: 100%;
        display:flex;
        flex-wrap: wrap;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    img {
        width: 100%;
    }
}

@media screen and (max-width: 1008px) {
    section {
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    article {
        min-width: 50%;
    }

    header {
        width: 100%;
        display: block;
        text-align: center;
    }

    nav {
        display: flex;
        flex-direction: flex;
        justify-content: space-around;
    }

    img {
        width: 100%;
    }
}
                    